<p style="font-style: italic;">
    * - если вы хотите компенсировать усилия организаторов по доставке вам воды, уборки
    мусора и т.д. будем вам благодарны.
    <br/>
    ** - если компенсируете затраты на доставку воды, уборку и т.д., будем благодарны. В прохладные ночи вам
    растопят печь.
    <br/>
    *** - если вы компенсируете затраты организаторам на покупку продуктов, то вам предоставят двухразовое питание
    (вегетарианское или сыроедческое). Возможно самостоятельное питание, если вы привозите продукты с собой. В
    некоторых лагерях нельзя разводить костры, берите с собой газовые горелки, предварительно проконсультировавшись
    с организаторами.
</p>

<p>
    Точную информацию об условиях участия, питания, проживания, возможностях аренды туристического снаряжения можно
    посмотреть на страницах по каждому лагерю.
</p>