@import url(normalize.css);

body {
	background:#fff;
	color:#333;
	font:normal 16px/1.5 'PT Serif', Arial, Tahoma, Verdana, sans-serif;
        margin:0px;
	}


.font-1 {
	font-family: Tahoma, Verdana, sans-serif;
	}
.font-2 {
	font-family: 'Cyrillic Old Bold', Georgia, Tahoma, Verdana, Arial, serif;
	}

/*  fonts
------------------------------------------------ */

@font-face {
    font-family: 'Cyrillic Old Bold';
    src: url('fonts/CyrillicOldBold.eot');
    src: url('fonts/CyrillicOldBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/CyrillicOldBold.woff') format('woff'),
         url('fonts/CyrillicOldBold.ttf') format('truetype'),
         url('fonts/CyrillicOldBold.svg#CyrillicOldBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'PT Serif';
    src: url('fonts/PTSerif.eot');
    	
    src: local('PT Serif'),
    	 url('fonts/PTSerif.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTSerif.woff') format('woff'),
         url('fonts/PTSerif.ttf') format('truetype'),
         url('fonts/PTSerif.svg#PTSerif') format('svg');
	}
	
	
@font-face {
    font-family: 'PT Serif';
    font-style:italic;
    src: url('fonts/PTSerif.Italic.eot');
    
    src: local('PT Serif Italic'),
    	 url('fonts/PTSerif.Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTSerif.Italic.woff') format('woff'),
         url('fonts/PTSerif.Italic.ttf') format('truetype'),
         url('fonts/PTSerif.Italic.svg#PTSerifItalic') format('svg');
	}
	
	
@font-face {
    font-family: 'PT Serif';
    font-weight:bold;
    src: url('fonts/PTSerif.Bold.eot');
    
    src: local('PT Serif Bold'),
    	 url('fonts/PTSerif.Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTSerif.Bold.woff') format('woff'),
         url('fonts/PTSerif.Bold.ttf') format('truetype'),
         url('fonts/PTSerif.Bold.svg#PTSerifBold') format('svg');
	}

@font-face {
    font-family: 'PT Serif';
    font-weight:bold;
    font-style:italic;
    src: url('fonts/PTSerif.Bold.Italic.eot');
    
    src: local('PT Serif Bold'),
    	 url('fonts/PTSerif.Bold.Italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/PTSerif.Bold.Italic.woff') format('woff'),
         url('fonts/PTSerif.Bold.Italic.ttf') format('truetype'),
         url('fonts/PTSerif.Bold.Italic.svg#PTSerifBold') format('svg');
	}
	
/* fonts
------------------------------------------END--- */
	
p {margin: 0 0 24px 0;}

ul {margin: 0 0 18px 18px; padding: 0;}
ol {margin: 0 0 18px 18px; padding: 0;}
	ul li,
	ol li {padding-bottom:7px;}

ul.custom-list {
	margin: 25px 0 18px 3px;
	padding: 0;
	}
	ul.custom-list li {
		display: block;
		padding: 0 0 7px 15px;
		background: url("images/list-bullet.gif") 0 13px no-repeat;
		list-style-type: none;
		}

ul.custom-list-bullet {
	margin: 25px 0 18px 3px;
	padding: 0;
	}
	ul.custom-list-bullet li {
		display: block;
		padding: 0 0 7px 15px;
		background: url("images/list-bullet-round.png") 0 10px no-repeat;
		list-style-type: none;
		}


/*  Headers
------------------------------------------------ */

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	margin: 0 0 24px 0;
	padding: 0;
	line-height: 1.2;
	
	font-family: 'Cyrillic Old Bold', Georgia, Tahoma, Verdana, Arial, serif;
	}

h2, h3, h4, h5, h6 {
	padding-top: 15px;
	}

h1 {
	color: #993399;
	}

q, cite {
	display: block;
	margin: 0;
	padding: 0;
	
	}
q {
	font-style: italic;
	margin-bottom: 15px;
	}
cite {
	text-align: right;
	font-style: normal;
	}

h1 {font-size:24px;}
h2 {font-size:21px;}
h3 {font-size:17px;}
h4 {font-size:16px;}
h5 {font-size:15px;}
h6 {font-size:14px;}

.section-h {
	color: #993399;
	margin-bottom: 24px;
	font-size: 24px;
	}

.colored {
	color: #993399;
	}
	
/* Headers
------------------------------------------END--- */

.separator {
	height: 1px;
	background: #993399;
	margin: 0 0 24px 0;
	}


/*  Links
------------------------------------------------ */

a {color:#333333;}
a:visited {color:#000;}
a:hover {color:#960f7e;}
a:focus {outline:thin dotted;}

.dotted {
	display: inline;
	text-decoration: none;
	cursor: pointer;
	}
	.dotted__txt {	
		position: relative;
		display: inline-block;
		border-bottom: 1px dotted;
		line-height: 1.1em;
		}
	

/*  Links
----------------------------------------end----- */

.content-img {
	margin-bottom: 24px;

	}
.content-img_lt_left {
	float: left;
	margin-right: 20px;
	}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
	}

::selection {
	background: #b3d4fc;
	text-shadow: none;
	}

hr {
	display: block;
	margin: 1em 0;
	padding: 0;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	}

textarea {
    resize: vertical;
	}

.clearfix-block {
	clear:both;
	overflow:hidden;
	margin:0;
	padding:0;
	font-size:0;
	line-height:0;
	}


.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
	clear: both;
	}

.clearfix:after {
	clear: both;
	}

.ie7 .clearfix {
	zoom: 1;
	}


/*  Layout structure
------------------------------------------------ */

.page {
	position:relative;
  	min-height:100%;
  	width:100%;
  	min-width: 1000px;
	zoom:1;
	}

	.page__c,
	.header__c,
	.footer__c,
	.map__c {
		margin:auto;
		width:980px;
		}

	.page__c {
		position: relative;
		}
	.page__c_lt_map {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		z-index: 99;
		width: 0;
		}
		.mainbar {
  			float:left;
			width:100%;
			}
			.mainbar__content {
				overflow:hidden;
				margin:0 230px;
				min-height:20px;
				background:yellow;
				}

		.left-sidebar,
		.right-sidebar {
			float:left;
  			width:220px;
			}
		.left-sidebar {
 			margin-left:-100%;
 			background:#bfdcf3;
			}
		.right-sidebar {
			margin-left:-220px;
			background:#f3bfd8;
			}

	.content {
		padding: 35px 0;
		}



/*  Main img changer
--------------------------------------------------- */

		.main-img-changer {
			height:522px;
			overflow:hidden;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			}


			.main-img-changer__tabs-wrapper {
				z-index: 99;
				position: absolute;
				bottom: 0;
				height: 150px;
				width: 100%;
				text-align: center;
				}

			.main-img-changer__tabs {
				position: relative;
				top: 7px;
				margin: 0;
				padding: 0;
				list-style-type: none;
				line-height: 0;
				}
			.ie7 .main-img-changer__tabs {
				top: 9px;
				}

				.main-img-changer__tabs-item {
					margin: 0;
					padding: 0;
					display: inline;

					list-style-type:none;
					font: 0/0 a;
					text-shadow: none;
					color: transparent;
					}
					.main-img-changer__tabs-item .main-img-changer__tabs-item-inner {
							display: inline-block;
							width: 31px;
							height: 31px;
							background: #fff;
							margin: 0 15px;
							cursor: pointer;
							opacity: 0.8;

							border: 1px solid #fff;

							-webkit-border-radius: 16px;
							-moz-border-radius: 16px;
							border-radius: 16px;
							}	

						.main-img-changer__tabs .current .main-img-changer__tabs-item-inner {
							background: #000;

							}

	
			.main-img-changer__output {
				width:100%;
				height:522px;
				position:relative;
				list-style:none;
				padding:0;
				margin:0;
				}
				.main-img-changer__output-item {
					position:absolute;
					width: 100%;
					height:522px;
					margin: 0;
					padding: 0;
					
					}
					.main-img-changer__output-item-img {
						position:absolute;
						width:100%;
						height:522px;
						text-decoration: none;
						}



/*  Main img changer
---------------------------------------------end--- */



/*  map
------------------------------------------------ */

	.map {
		height: 360px;
		position: relative;
		overflow: hidden;
		
		}
	.map_stl_big {
		height: 720px;
		}
	.map__c {
		position: absolute;
		z-index: 1000;
		left: 50%;
		margin-left: -490px;
		}
	.map__b {
		position: absolute;
		top: 35px;
		right: 20px;
		border: 1px solid #333;
		padding: 15px 12px;
		width: 290px;
		background: #fff;
		
		}
	.map__b-h {
		font-size: 24px;
		color: #993399;
		margin-bottom: 15px;
		}
	.map__b-sub-h {
		font-size: 16px;
		font-weight: bold;
		}

	.map p {
		font-family: Tahoma, Verdana, sans-serif;
		margin-bottom: 15px;
		font-size: 14px;
		}
	
/* map
------------------------------------------END--- */


	.bg {
		overflow: hidden;
		height: 360px;
		background-attachment: fixed;
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		-o-background-size: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: center center;

		}
		.bg__middle {
			display: table;
			width: 100%;
			}
			.bg__middle-in {
				height: 360px;
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				}

	.bg__h-wrap {
		display: table;
		margin: 0 auto;
		width: 340px;
		}
		.bg__h {
			color: #fff;
			background: url(images/trans60per.png) 0 0 repeat;
			text-align: center;
			display: table-cell;
			vertical-align: middle;
			font-size: 24px;
			}

		.bg .bg__h a {
			color: #fff;
			}
			.bg .bg__h a:hover {
				text-decoration: none;
				}


.footer {
	position:relative;

	}

	.copyright {
		text-align: right;
		color: #fff;
		}
		.copyright a {
			color: #fff;
			}
			.copyright a:hover {
				color: #000;
				}

	.contacts {
		background: #ebd6eb;
		padding: 35px 0;
		}
		.contacts__col {
			
			}
		.contacts__col_tp_1 {
			float: left;
			width: 320px;
			}
		.contacts__col_tp_2 {
			width: 590px;
			float: right;
			}

		.contacts__i {
			margin-bottom: 30px;
			}

			.contacts__i-h {
				margin-bottom: 15px;
				font-weight: bold;
				}

			.contacts__h {
				font-size: 24px;
				color: #666;
				margin-bottom: 15px;
				}

	.footer-nav {
		background: #c6b1c6;
		padding: 35px 0;
		}


/*  Header
------------------------------------------------ */

.header {
	height:145px;
	}
	.header__c {
		position: relative;
		}

/* Header
------------------------------------------END--- */

/*  two-cols
------------------------------------------------ */

	.two-cols {
		
		}
		.two-cols__col-1 {
			float: left;
			width: 640px;
			}
		.two-cols__col-2 {
			float: right;
			width: 300px;
			}
	
/* two-cols
------------------------------------------END--- */


	.info-panel {
		background: #ebd6eb;
		padding: 30px 35px;
		}
		.info-panel__h {
			font-size: 18px;
			margin-bottom: 15px;
			}


	.header-l-nav {
		position:absolute;
		top:69px;
		left:15px;
		font-size:12px;
		}
		.header-l-nav__lst {
			padding:0;
			margin:0;
			list-style-type:none;
			}
		.header-l-nav__i {
			padding:0;
			margin:0 45px 0 0;
			position:relative;
			float:left;
			}
			.header-l-nav__act {
				position:relative;
				display:inline-block;
				padding:0;
				}
	
			
		.logo-link {
			position:absolute;
			width:340px;
			height:123px;
			padding-left:30px;
			top:18px;
			left:-309px;
			margin-left:50%;

			background:transparent;
			z-index:100;
			color:#999 !important;
			font-size:16px;
			text-decoration:none !important;
			}
			.logo-link__txt {
				position: relative;
				top: 49px;
				line-height: 1.1;
				}
			.logo-link__img {
				position:absolute;
				right:0;
				top:0;	
				}
				

		.small-icons {
			position:absolute;
			left:775px;
			top:71px;

			}
			.small-icons__lst {
				padding:0;
				margin:0;
				list-style-type:none;
				}
			.small-icons__i {
				padding:0 13px 0 13px;
				margin:0;
				position:relative;
				float:left;
				background:url("images/small-icons-sep.gif") left 4px no-repeat;
				font-size: 12px;
				}
			.small-icons__i:first-child {
				background:none;
				padding-left:0;
				}
				.small-icons__act {
					position:relative;
					display:inline-block;
					padding:0;
					}


	/*  Search form
	--------------------------------------------------- */

			.search-form {
				left: 596px;
				top: 69px;
				line-height: 17px;
				position: absolute;
				}

				
				.search-form-input {
					font-family: Arial, sans-serif;
					border: 1px solid #999;
					height: 16px;
					padding: 0 6px;
					width: 122px;
					font-size: 12px;
					}
				.ie8 .search-form-input,
				.ie9 .search-form-input {
					line-height:16px;
					}

					
				.search-form-submit {
					display:inline-block;
					width: 22px;
					height: 18px;
					border:none;
					vertical-align:top;
					cursor:pointer;
					background: url("images/search-button.gif") 50% 50% no-repeat;
					outline:none;

					}

					
					
		::-webkit-input-placeholder {
			 color:#d0add0;
			 
			}
		:-moz-placeholder {
			 color:#d0add0;
			 
			}
		::-ms-input-placeholder {
			color:#d0add0;
			
			}
		.placeholder {
		    color:#d0add0;
		    
			}

	/*  Search form
	---------------------------------------------end--- */

		.auth {
			position:absolute;
			right:15px;
			top:67px;
			font-size:12px;
			}
			.auth__lst {
				padding:0;
				margin:0;
				list-style-type:none;
				}
			.auth__i {
				padding:0;
				margin:0;
				position:relative;
				float:left;
				}
				.auth__act {
					position:relative;
					display:inline-block;
					padding:0 0 0 3px;
					}
				.auth__i:first-child .auth__act {
					padding-left:0;
					background:none;
					}
			

/*  main-nav
------------------------------------------------ */

	.main-nav {
		position:relative;
		float:right;
		right:50%;
		font-size:24px;
		line-height:19px;
		}
		.main-nav__lst {
			position:relative;
			padding:0;
			margin:0;
			list-style-type:none;
			float:left;
			right:-50%;
			}
			.main-nav__i {
				padding:0;
				margin:0;
				position:relative;
				float:left;

				}
			.main-nav__i_stt_cur .main-nav__act {
				color:#000;
				}
				.main-nav .main-nav__act {
					position:relative;
					display:inline-block;
					padding:20px 21px;
					text-decoration:none;
					color: #95268f;

					}
					.main-nav  .main-nav__act:hover {
						color:#333;
						}
	
/* main-nav
------------------------------------------END--- */


/*  section-nav
------------------------------------------------ */



.section-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: url(images/trans80per-pink.png) 0 0 repeat;
	z-index: 100;
	height: 57px;
	}
	.section-nav__in {
		position:relative;
		float:right;
		right:50%;
		font-size:24px;
		line-height:19px;
		}
		.section-nav__lst {
			position:relative;
			padding:0;
			margin:0;
			list-style-type:none;
			float:left;
			right:-50%;
			}
			.section-nav__i {
				padding:0;
				margin:0;
				position:relative;
				float:left;

				}
			.section-nav .section-nav__i_stt_cur .section-nav__act {
				color:#ffccff;
				}
				.section-nav__i_stt_cur .section-nav__act:before {
					content: '';
					display: block;
					position: absolute;
					bottom: -16px;
					left: 50%;
					margin-left: -16px;
					width: 32px;
					height: 16px;
					background: url(images/menu-cur-arrow.png) 0 0 no-repeat;
					}



				.section-nav .section-nav__act {
					position:relative;
					display:inline-block;
					padding:19px;
					text-decoration:none;
					color: #fff;

					}
					.section-nav__act:hover {
						color:#ffccff;
						}
	
/* section-nav
------------------------------------------END--- */


.more {
	text-align: right;
	}

.to-right {
	text-align: right;
	}


/*  news
------------------------------------------------ */

	.news {
		margin-bottom: 4px;
		}
		.news__h {
			font-size: 24px;
			margin-bottom: 20px;
			}
			.news .news__h-act {
				color: #999;
				}
				.news .news__h-act:hover {
					color: #000;
					}
				.news__lst {
					margin: 0;
					padding: 0;
					list-style-type: none;
					margin-left: -35px;
					}
					.news__i {
						width: 300px;
						min-height: 250px;
						display: inline-block;
						vertical-align: top;
						margin-bottom: 20px;
						margin-left: 35px;
						color: #999;
						zoom: 1;
						}
						.news__i-act {
							display: block;
							}
							.news__i-img {
								display: block;
								margin-bottom: 13px;
								}
							.news__i-h {
								margin-bottom: 5px;
								}

						.news__i-date,
						.news__i-txt {
							font-size: 14px;
							}

	.news__more {
		text-align: center;
		margin-bottom: 20px;
		}
	
/* news
------------------------------------------END--- */

/*  content-share
------------------------------------------------ */

	.content-share {
		
		}
		.content-share__h {
			margin-bottom: 12px;
			}
	
/* content-share
------------------------------------------END--- */


/*  social
------------------------------------------------ */

	.social {
		overflow: hidden;
		margin-bottom: 60px;
		}
		.social__lst {
			margin: 0;
			padding: 0;
			list-style-type: none;
			}
			.social__i {
				padding: 0;
				margin: 0 25px 0 0;
				position: relative;
				float: left;
				}
				.social__act {
					position: relative;
					display: inline-block;
					}
	
/* social
------------------------------------------END--- */



/*  To top control
------------------------------------------------ */
#toTop {
	cursor: pointer;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	padding: 0;
	z-index: 1000;
	}
	#toTopHover {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 40px;
		background: #333;
		opacity: 0;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		}
	#toTop #toTop__link {
		display:block;
		width: 40px;
		height: 40px;
		position: fixed;
		left: 10px;
		bottom: 10px;
		text-align: center;
		text-decoration: none;
		background: url(images/totop1.png?v3) 0 0 no-repeat;


		font: 0/0 a;
		text-shadow: none;
		color: transparent;

	}



/* To top control
------------------------------------------END--- */



/*  footer-nav
------------------------------------------------ */

	.footer-nav__in {
		overflow: hidden;
		margin-left: -121px;
		}
		.footer-nav__lst {
			padding: 0;
			margin: 0 0 0 121px;
			list-style-type: none;
			float: left;

			}
			.footer-nav__i {
				padding: 0;
				margin: 0;
				position: relative;

				}
				.footer-nav__lst .footer-nav__act {
					display: block;
					padding: 2px 0;
					position: relative;
					color: #666;
					text-decoration: none;
					zoom: 1;
					}
					.footer-nav__lst .footer-nav__act:hover {
						color: #000;
						}


		.footer-nav__sub-lst {
			padding: 0;
			margin: 0 0 0 38px;
			list-style-type: none;
			}
			.footer-nav__sub-i {
				padding: 0;
				margin: 0;
				position: relative;
				}
				.footer-nav__sub-act {
					display: block;
					padding: 2px 0;
					position: relative;
					zoom: 1;
					}


		.footer-nav__sub-sub-lst {
			padding: 0;
			margin: 0 0 16px 38px;
			list-style-type: none;
			}
			.footer-nav__sub-sub-i {
				padding: 0;
				margin: 0;
				position: relative;
				}
				.footer-nav__sub-sub-act {
					display: block;
					padding: 2px 0;
					position: relative;
					zoom: 1;
					}


		.footer-nav__sub-lst .footer-nav__sub-act,
		.footer-nav__sub-sub-lst .footer-nav__sub-sub-act {
			color: #fff;
			}
			.footer-nav__sub-lst .footer-nav__sub-act:hover,
			.footer-nav__sub-sub-lst .footer-nav__sub-sub-act:hover {
				color: #000;
				}

	
/* footer-nav
------------------------------------------END--- */


/*  slider
------------------------------------------------ */

	.slider {
		position: relative;
		height: 522px;
		background-position: center center;
		background-repeat: no-repeat;
		}
		.slider__act {
			position: absolute;
			top: 0;
			bottom: 0;
			z-index: 2;
			}
		.slider__act_lt_left {
			left: 0;
			}
		.slider__act_lt_right {
			right: 0;
			}
		.slider__act_lt_center {
			left: 50%;
			margin-left: -150px;
			}

		.slider__act-in {
			display: table-cell;
			}
			.slider__act-in-in {
				width: 300px;
				display: table-cell;
				height: 522px;
				vertical-align: middle;
				text-align: center;
				}
			.slider__inf {
				display: block;
				position: relative;
				background: url(images/trans60per.png) 0 0 repeat;
				padding: 15px 20px;
				text-decoration: none;
				font-size: 24px;
				border: 1px solid #e7d0d7;
				}
			.slider__inf a {
				color: #fff;
				}
			.slider__act_lt_left .slider__inf {
				border-left: none;
				padding-left: 65px;
				}
				.slider__act_lt_left .slider__inf:after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					margin-top: -25px;
					left: 14px;
					width: 30px;
					height: 51px;
					background: url(images/arrows.png) 0 0 no-repeat;
					}


			.slider__act_lt_right .slider__inf {
				border-right: none;
				padding-right: 65px;
				}
				.slider__act_lt_right .slider__inf:after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					margin-top: -25px;
					right: 14px;
					width: 30px;
					height: 51px;
					background: url(images/arrows.png) -31px 0 no-repeat;
					}


			.slider .slider__inf {
				color: #fff;
				}
				.slider__inf-h {
					color: #ff99ff;
					}
				.slider__inf-sub-h_stl_u {
					text-decoration: underline;
					}


			.slider__inf-small {
				font-size: 14px;
				line-height: 1.3;
				margin: 10px 0;
				}
			.slider__inf-date {
				font-size: 20px;
				margin-bottom: 10px;
				}
			.slider__inf-more {
				font-size: 16px;
				}


	.slider_stl_bot-sep {
		border-bottom: 3px solid #993399;
		}
	
/* slider
------------------------------------------END--- */

/*  top-page
------------------------------------------------ */

	.top-page {
		position: relative;
		height: 522px;
		background-position: center center;
		background-repeat: no-repeat;
		}
		.top-page__wrap {
			display: table;
			width: 100%;
			}
			.top-page__in {
				display: table-cell;
				vertical-align: middle;
				height: 522px;
				}

				.top-page__h-wrap {
					display: table;
					width: 300px;
					margin: 0 auto;
					z-index: 99;
					}
				.top-page__h-wrap_center-map {
					position: absolute;
					top: 50%;
					margin-top: -50px;
					left: 50%;
					margin-left: -150px;
					}

					.top-page__h {
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						background: url(images/trans60per.png) 0 0 repeat;
						color: #fff;
						font-size: 24px;
						border: 1px solid #dce5dc;
						}
					.top-page__h_stl_colored {
						color: #ff99ff;
						}
	
/* top-page
------------------------------------------END--- */


	/*  Form elements
	------------------------------------------------ */

			.form-panel {
				background: #effbfe;
				padding: 20px 10px;
				margin-bottom: 25px;
				}

			.form-line {
				margin-bottom: 18px;
				}


				input.custom-input,
				textarea.custom-input {
					padding: 0 10px;
					width: 278px;

					border: 1px solid #817c81;
					background: #fbf7fb;

					-webkit-border-radius: 1px;
					-moz-border-radius: 1px;
					border-radius: 1px;

					font-family: 'PT Serif', Arial, Tahoma, Verdana, sans-serif;
				
					}
				.ie7 input.custom-input,
				.ie8 input.custom-input {
					line-height: 40px;
					}

				input.custom-input {
					height: 40px;
					vertical-align: middle;
					}
				textarea.custom-input {
					height: 200px;
					padding: 10px;
					}
		
				input.custom-input_stt_error,
				textarea.custom-input_stt_error {
					border: 1px solid #e96666;

					-webkit-box-shadow: 0 0 0;
					-moz-box-shadow: 0 0 0;
					box-shadow: 0 0 0;
					}




				.form-label {
					display: inline-block;
					vertical-align: middle;
					line-height: 1.2;
					padding-right: 15px;
					color: #666;
					}

				.form-label_width_same {
					width: 265px;
					text-align: right;
					}
				.form-space-label {
					margin-left: 285px;
					}
				.form-label_layout_top {
					display: block;
					margin-bottom: 11px;
					}



				.required-mark {
					color: #ff0000;
					font-size: 17px;
					}

				.form-label_stl_top {
					vertical-align: top;
					}
				.captcha {
					display: inline-block;
					}


		::-webkit-input-placeholder {
			 color:#a6a6a6;
			}
		:-moz-placeholder {
			 color:#a6a6a6;
			}
		::-ms-input-placeholder {
			color:#a6a6a6;
			}
		.placeholder {
		   	color:#a6a6a6;
			}

		.custom-input {
		  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
		     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
		       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
		          transition: border linear 0.2s, box-shadow linear 0.2s;
			}

		.custom-input:focus {
		  border-color: rgba(82, 168, 236, 0.8);
		  outline: 0;
		  outline: thin dotted 9;
		  /* IE6-9 */
		
		  -webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.6);
		     -moz-box-shadow: 0 0 5px rgba(82, 168, 236, 0.6);
		          box-shadow: 0 0 5px rgba(82, 168, 236, 0.6);
			}



		.form-success {
			width: 300px;
			text-align: center;
			background: #d6eed0;
			border: 1px solid #4a9f4a;
			padding: 15px;
			color: #4da24d;
			margin-bottom: 12px;
                        float:right;
			}
		.form-fail {
			width: 300px;
			text-align: center;
			background: #eed4d0;
			border: 1px solid #d82f2f;
			padding: 15px;
			color: #554d4b;
			margin-bottom: 12px;
			}
			
		.form-success-request {
			width: 300px;
			margin:0 0 0 auto;
			text-align: center;
			background: #d6eed0;
			border: 1px solid #4a9f4a;
			padding: 15px;
			color: #4da24d;
			margin-bottom: 12px;
            float:right;
			}
		.form-fail-request {
			margin:0 0 0 auto;
			width: 300px;
			align: right;
			text-align: center;
			background: #eed4d0;
			border: 1px solid #d82f2f;
			padding: 15px;
			color: #554d4b;
			margin-bottom: 12px;
			}

		/*  buttons
		------------------------------------------------ */


				.button {
					display: inline-block;
					overflow: visible;
					border: 1px solid #817c81;
					color: #993399 !important;
					font-family: 'PT Serif', Arial, Tahoma, Verdana, sans-serif;
					text-align: center;
					text-decoration: none;
				    cursor: pointer;
					vertical-align: middle;
					outline: none;
					font-weight: bold;

					padding: 0 30px;
					height: 40px;
					line-height: 40px;
					font-size: 16px;


					background: #fff;

					-webkit-border-radius: 1px;
					-moz-border-radius: 1px;
					border-radius: 1px;


					-webkit-touch-callout: none;
					-webkit-user-select: none;
					-khtml-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
					}


			.button_space_right {
				margin-right: 5px;
				}

					.button::selection {
						background:transparent
					}
			
				.button:hover {
					
					}



				.button:active {

					-webkit-box-shadow: inset 0 3px 7px 1px rgba(0, 0, 0, .3);
					-moz-box-shadow: inset 0 3px 7px 1px rgba(0, 0, 0, .3);
					box-shadow: inset 0 3px 7px 1px rgba(0, 0, 0, .3);
					}

				.button_st_disabled,
				.button_st_disabled:hover,
				.button_st_disabled:active {
					background: #ccc;
					color: #999 !important;
					text-shadow: 0 1px 1px #fff;
					}


		/* buttons
		------------------------------------------END--- */



		/*  Custom checkbox/radio
		------------------------------------------------ */

		.form-label-chec-rad {
			cursor: pointer;
			position: relative;
			padding: 2px 20px 2px 20px;
			zoom: 1;
			font-size: 16px;
			
			}
			.form-label-chec-rad input {
				position: absolute;
				top: 7px;
				left: 0;
				}
			.ie9 .form-label-chec-rad input {
				top: 6px;
				}
			
		/* Custom checkbox/radio
		------------------------------------------END--- */

		/*  Custom select
		--------------------------------------------------- */

			.custom-select {
				cursor: pointer;
				display: inline-block;
				vertical-align: middle;
				width: 280px;
				}

			.custom-select-container {
				position: relative;
				display: inline-block;
				}
				select.custom-select.replaced {
				position: relative;
				z-index: 10;
				height: 41px;
				border: 0;
				line-height: 40px;
				opacity: 0;
				filter: alpha(opacity=0); /* Move to IE-specific CSS file if you want to. */
				}
			.custom-select__item {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				display: inline-block;
				font-size: 16px;
				width: 100%;
				}
			.custom-select__item .custom-select__bg {
				display: block;
				padding: 0 25px 0 10px;
				line-height: 40px;
				height: 40px;
				border: 1px solid #817c81;
				background: #fbf7fb;

				}


			.ie7 .custom-select__item > span {
				background-position: right 1px;
				}

			.custom-select__item span span {
				display: block;
				overflow: hidden;
				height: 40;
				text-overflow: ellipsis;
				white-space: nowrap;
				}
			.custom-select.active__item > span {
				
				}

			.custom-select-container .custom-select__arrow {
				position: absolute;
				right: 9px;
				top: 12px;
				width: 33px;
				height: 19px;
				background: url(images/select-arrow.png) 0 0 no-repeat;

				}
			
		
		/*  Custom select
		---------------------------------------------end--- */


	/* Form elements
	------------------------------------------END--- */



/* Custom table
-----------------------------------*/

	.custom-table {
		margin-bottom: 24px;
		width:100%;
		}



	.custom-table th,
	.custom-table td {
		
		padding:15px 10px 10px 10px;
		vertical-align:top;
		font-size: 16px;
		}
	.custom-table__line,
	.custom-table__even {
		background: #f5f5f5;
		}


	.custom-table__header td,
	.custom-table th {
		padding-top:0;
/*font-size: 21px;*/
color: #3d4a55; font-weight: 700; font-style: italic;
/*font-family: 'Cyrillic Old Bold', Georgia, Tahoma, Verdana, Arial, serif;*/
		border-bottom: 3px solid #993399 !important;
		padding-left: 0;
		}

	.custom-table__top-sep {
		border-top: 3px solid #993399 !important;
		}


/* Custom table ---end-----*/




/*  Helpers
------------------------------------------------ */

code {
	padding:0 2px;
	border:1px dashed #ccc;
	background:#f0f2f0;
	font-size:16px;
	}
.attention-h {
	color:#ff0000;
	}	
	
/* Helpers
------------------------------------------END--- */


	.loading {
		display: none;
		}

	.accordion {
		margin: 0;
		padding: 0;
		list-style-type: none;
		}
		.accordion__i {
			margin: 0;
			padding: 0;

			}
		.accordion__i a {
			display: block;
			color: #333;
			}

		.accordion .active .dotted__txt {
			border-bottom: none;
			font-weight: bold;
			}
#share42 {
  display: inline-block;
  padding: 6px 0 0 6px;
  background: #FFF;
  border-radius: 4px;
  background: #F6F6F6;
  border: 1px solid #D4D4D4;
  box-shadow: 0 0 5px #DDD;
}

#share42 a {opacity: 1;}
#share42:hover a {opacity: 1}
#share42 a:hover {opacity: 1}

/*  article-more
------------------------------------------------ */

	.article-more {
		
		}
		.article-more__txt {
			display: none;
			}
		.article-more__txt_stt_open {
			display: block;
			}
	
/* article-more
------------------------------------------END--- */

    /*  carousel
    ------------------------------------------------ */
        .carousel {
            margin-bottom: 35px;
            position: relative;
            margin-left: -10px;
            }
			.caroufredsel_wrapper
			{
				height: 106px !important;
			}
            .carousel__lst {
                margin: 0;
                padding: 0;
                list-style: none;
                display: block;
                }
                .carousel__i {

                    padding: 0;
                    margin: 0 12px;
                    display: block;
                    float: left;
                    }


                .carousel .carousel__prev,
                .carousel .carousel__next {
                    position: absolute;
                    width: 17px;
                    height: 31px;
                    background: url(images/carousel-arrows.png) 0 0 no-repeat;
                    cursor: pointer;
                    }
                .carousel .carousel__prev {
                    top: 50%;
                    margin-top: -16px;
                    left: -17px;
                    background-position: 0 0;
                    }
                .carousel .carousel__prev.disabled {
                    
                    }
                .carousel .carousel__next {
                    top: 50%;
                    margin-top: -16px;
                    right: -10px;
                    background-position: 0 -32px;
                    }
                .carousel .carousel__next.disabled {
                    
                    }

               .carousel .carousel__prev:active,
                .carousel .carousel__next:active {
                    margin-top: -15px;
                    }

                .carousel__pager {
                    display: none !important;
                    }


                .carousel__act {
                	display: inline-block;
                	
                	}
                	.carousel__act img {
                		display: block;
                		border: 1px solid #817c81;
                		}
        
    /* carousel
    ------------------------------------------END--- */