.custom-select option {
  vertical-align: middle;
  height: 30px;
  padding-top: 8px;
}

#datepicker2 {
  margin-top: 2px;
}

.form-success-request {
 width: 500px !important;
  float: none !important;
  margin-bottom: 20px !important;
}

input[type="submit"].success {
  margin-bottom: 20px;
}

span.hint {
  font-size: 8pt;
  display: block;
  width: 100%;
  text-align: right;
  margin: 0 -10px;
}